<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Experteer Hackathon</title>
  <meta name="description" content="Experteer Hackathon">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
</head>
<body>

<div id="loading_overlay"></div>

<header>
  <div class="hero-background"></div>
  <div class="center-container">
    <div class="badge wow bounceIn" data-wow-delay="1s">
      <h1>The Hackoning</h1>
      <div class="badge-text">
        <p>Experteer Hackathon</p>
        <hr/>
        <p>It's back with a vengeance</p>
      </div>
    </div>
    <a href="#" class="tell-me-more wow fadeInUp" data-wow-delay="1.5s">
      Tell me more
    </a>
  </div>
</header>

<section class="wow slideInRight" data-wow-delay="0.2s">
  <h2>December 17, 2015</h2>
  <h3>Hackathon team gettogether and discussion of a warplan (exact time TBD)</h3>
  <h2>December 18, 2015</h2>
  <h3>Between <span class="negative">10:24am and 20:48pm</span>, all developers (including all students) will gather to work on <span class="negative">something new</span><br/>
  Learn cool, and maybe even useful stuff!</h3></br>
  <div>
    <p>We are aware of course that this is one day after the christmas party. There are two very good reasons for this:</p>
    <p>1. We are strongly convinced that the best ideas come when you have a crushing hangover!</p>
    <p>2. We are utterly evil.</p>
  </div>
</section>

<section id="ideas" class="inverse wow slideInUp" data-wow-delay="0.4s">
  <h2>Inspirations</h2>
  <h4>just in case you don't have your own ideas :)</h4>
  <ul>
    <li>Launch the coffee machine via Slack</li>
    <li>Slack "Screensaver": Set slack to inactive if you don't touch keyboard/mouse for x minutes</li>
    <li>Create a solution to integrate remote devs to team meetings better, e.g. build a camera with directional-microphone</li>
    <li>Drag-n-Job Create an app where you drag and drop your CV and get job offers for your profile</li>
    <li>Integrate the Scrum Board of the JCA Team (Trello) to the Experteer Raspi dashboard (kitchen display)</li>
    <li>Create a kick-ass widget for the Experteer Raspi dashboard</li>
    <li>Write something that would analyse and cleanup the code (magic, unicorns or some other illegal shit, I dont know how)</li>
    <li>Use the Synvert Gem to go from Rails 4.1. to Rails 4.2.</li>
    <li>Use RFID to display a personalized message on the Experteer Raspi display</li>
    <li>Tinder for jobs. It would learn as you swipe, and give you jobs that match your "swipe-profile"</li>
    <li>Native app in which the candidate can create a 30 second elevator pitch video to present themselves to recruiters @Wesley</li>
    <li>A quiz that find the perfect job(s) for the candidate @Wesley</li>
    <li>CV parsing @Wesley</li>
    <li>Create a new platform with all our jobs (export our content) and make it accessible for free (we will make money through CPC) @Wesley</li>
    <li>Collect Rubinius GC data and analyze them using influxDB @Maikel</li>
    <li>Cruise Breaker 2.0: mount a loudspeaker at the robot and scream the name of the guy that broke the last CI build - loud and nasty! @Thomas</li>
    <li>Do something fancy with <a href="espruino.com/Pico">espruino.com/Pico</a>. As mentioned I've got some boards + peripherals (display, relay, WIFI ...) and I'm willing to "donate" it for the Hackathon @Thomas</li>
    <li>Launch a rocket into space with the Kerbal Space Program using Kuby (https://github.com/rrooding/kuby)</li/>
    <li>Integrate <a href="https://github.com/facebook/mention-bot">mention-bot</a> with GitLab (check <a href="https://github.com/facebook/mention-bot/issues/12">issue 12</a> though)</li>
    <li>Figure out a candidate’s probability to answer to a contact request</li>
    <li>Figure out a candidate’s probability to give us money (i.e. upsell)</li>
    <li>Receiving a ticket from marketing/sales triggers Rick Astley – Never Gonna Give you up blasting through the office (#hiddenspeakers)</li>
    <li>The phrase “we don’t need backend for this project” on Slack triggers Rick Astley – Never Gonna Give you up blasting through the office (#hiddenspeakers)</li>
    <li>Integrate a way for translators to translate real-time on the service instead of in Excel sheets</li>
    <li>Build a clone of Google Snippets (principle explained here: <a href="http://blog.idonethis.com/google-snippets-internal-tool/">http://blog.idonethis.com/google-snip
      pets-internal-tool/</a>) I guess it would tenfold increase transparency among us @Thomas</li>
    <li>Hack around with Elixir/Phoenix (maybe idea above) @Thomas</li>
    <li>Create a Voting app (native or web) for the hackaton</li>
    <li>
      <p>
        Use <a href="https://cloud.google.com/vision/">Google Vision Api</a> to tell if users are happy in their profile pictures or if they uploaded naughty pictures, like boats.
        <br>
        Since it is a limited preview I already requested access.
        <br><a href="https://www.youtube.com/watch?v=eve8DkkVdhI" target="_blank">Video</a>
      </p>
    </li>
  </ul>
</section>

<section id="teams">
  <h2>Teams</h2>
  <ul>
    <li class="wow slideInLeft">
      <h3>red</h3>
      <img src="/avatars/evgeni.jpg" title=""/>
      <img src="/avatars/roman.jpg" title=""/>
      <p>Drag-n-Job Create an app where you drag and drop your CV and get job offers for your profile</p>
    </li>
    <li class="wow fadeInUp">
      <h3>green</h3>
      <img src="http://www.gravatar.com/avatar/d046efafc34567f8d4df7d1c6c37be40" title="Shota Bakuradze"/>
      <img src="/avatars/mateusz.jpg" title="Mateusz"/>
      <img src="https://avatars.slack-edge.com/2015-10-08/12130795942_1b2038dade3fdf4f0c1c_192.jpg" title="Piotr Chmolowski"/>
      <img src="https://avatars0.githubusercontent.com/u/13506036?v=3&s=460" title="Ionut" />
      <img src="https://avatars1.githubusercontent.com/u/11481046?v=3&s=96" title="Yoana" />
      <p>Integrate a way for translators to translate real-time on the service instead of in Excel sheets</p>
    </li>
    <li class="wow slideInLeft">
      <h3>alpha</h3>
      <img src="/avatars/michael.png" title="Michael"/>
      <img src="/avatars/tom.jpg" title="Tom" />
      <p>Hack around with Elixir/Phoenix (a yet to be defined project)</p>
    </li>
    <li class="wow fadeInUp">
      <h3>grey beards</h3>
      <img src="/avatars/uli.jpg" />
      <img src="/avatars/mow.jpg" />
      <img src="/avatars/andi.jpg" title="Andi Schmelz" />
      <p>Create a kick-ass widget for the Experteer Raspi dashboard:<br/>
      Do an artistic, graphical display of activity on the live server.
      That is: read activity from live logs, stream them e.g. through websockets into a browser, create a visual display of activity, e.g. (just suggestions)
      stars glowing up for a request,
          a flower growing on a login,  fireworks on upsells, an explosion (mushroom cloud) on an application error; put that page on the dashboard
      </p>
    </li>
    <li class="wow slideInRight">
      <h3>gamma</h3>
      <img src="/avatars/nour.png" title="Nour" />
      <img src="/avatars/thomas.jpg" title="Thomas Nitsche" />

      <p>Integrate <a href="https://github.com/facebook/mention-bot">mention-bot</a> with GitLab / Cruise Breaker 2.0: mount a loudspeaker at the robot and scream the name of the guy that broke the last CI build </p>
    </li>
    <li class="wow slideInLeft">
      <h3>omega</h3>
      <img src="/mock_avatar.png" title="Dennis Herr" />
      <img src="http://daniel-sudmann.de/id/avatar_irr80.jpg" title="Daniel" />
      <p>Create a clone of Google Snippets</p>
    </li>
    <li class="wow slideInRight">
      <h3>Espruino Specs</h3>
      <img src="/mock_avatar.png" title="Steffen" />
      <img src="/avatars/maikel.png" title="Maikel" />
      <p>Use Espruino to display the current Spec status</p>
    </li>
  </ul>
  <div style="clear:both"></div>
</section>

<section id="rules" class="inverse">
  <h2>Rules of the game</h2>
  <ol>
    <li class="wow bounceInUp">
      <h5>Fresh Code but be prepared</h5>
      No matter the project, you should start coding together and not start hacking beforehand.
      What you should do however, is sit down with your respective team at least two weeks before the hackathon and discuss what you need for your initial setup, what you intend to do exactly, how the tasks will be divided between the team members and what you will need in terms of hard-/software.
    </li>
    <li class="wow bounceInUp">
      <h5>Team Setup</h5>
      Teams should consist of 3-4 members. You can pick your project and team partners as you like, but be mindful to <strong>mix with people you normally don't work with</strong>. That's the most important rule. Also think about working on a topic you normally don't work on, this is what the hackathon is for!
    </li>
    <li class="wow bounceInUp">
      <h5>Demo your work</h5>
      At the end of the Hackathon (20:48pm+), every team will have 3-5min to make a DEMO, and 3-5min for Q&A from the crowd.
    </li>
    <li class="wow bounceInUp">
      <h5>Win</h5>
      After all demos, everyone has 3 points to allocate to other teams. You can give 1 point to 3 teams. 3 points to one team. Or 2+1 :)
    </li>
  </ol>
</section>

<section>
  <h2>Preparations</h2>
  <ul>
    <li class="done">setup a hackathon page</li>
    <li>create teams quite some time in advance</li>
    <li>make sure people discuss their tasks in advance</li>
    <li>setup a gitlab repo for each team</li>
    <li>figure out rooms</li>
    <li>have a prize for the winning team</li>
    <li>get snacks for the breakfast</li>
    <li>get food for lunch</li>
    <li>get beer, club mate …  and lots of beer</li>
    <li>get good! beans for the coffee machine</li>
    <li>figure out voting</li>
  </ul>
</section>

<section>
  <h2>Questions?, Ideas?</h2>
  <h4>go ask Maikel or drop him a message</h4>
</section>

<section style="display: none">
  <!-- Old pics -->
  <img src="/avatars/mow.jpg" />
  <img src="http://gravatar.com/avatar/bcade31197a5623384d853c3c5fac28a?s=100" title="SriVishnu" />
  <img src="/avatars/roman.jpg" title="Roman" />
  <img src="/avatars/maikel.png" title="Maikel" />
  <img src="/avatars/michael.png" title="Michael" />
  <img src="/avatars/nour.png" title="Nour" />
  <img src="http://gravatar.com/avatar/9fbd1c79ce13abc142fe84692324e672" title="Bishwa" />
  <img src="http://gravatar.com/avatar/40078c07df40257e5fc3a51197f197b0" title="Yoana" />
  <img src="/mock_avatar.png" title="Philipp" />
  <img src="/avatars/paul.jpg" title="Paul" />
  <img src="/avatars/thomas.jpg" title="Thomas Nitsche" />
  <img src="http://www.gravatar.com/avatar/d046efafc34567f8d4df7d1c6c37be40" title="Shota Bakuradze" />
  <img src="/avatars/evgeni.jpg" title="Evgeni" />
  <img src="http://lh6.googleusercontent.com/-uHVnQn9SVpU/AAAAAAAAAAI/AAAAAAAAAEo/uNxhenI6JsI/photo.jpg" title="Martin Bogner"/>
  <img src="/mock_avatar.png" title="Sajju" />
  <img src="/mock_avatar.png" title="Andi Schmelz" />
  <img src="/avatars/uli.jpg" />
  <img src="http://daniel-sudmann.de/id/avatar_irr80.jpg" title="Daniel" />
  <img src="/avatars/taras.jpeg" title="Taras" />
  <img src="/mock_avatar.png" title="Dennis Herr" />
</section>

</body>
</html>
