<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Experteer Hackathon</title>
  <meta name="description" content="Experteer Hackathon">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
</head>
<body>

<div id="loading_overlay"></div>

<header>
  <div class="hero-background"></div>
  <div class="center-container">
    <div class="badge wow bounceIn" data-wow-delay="1s">
      <h1>Hackathon</h1>
      <div class="badge-text">
        <p>something very cool, very soon</p>
        <hr/>
        <p>thought you wanna know</p>
      </div>
    </div>
    <a href="#" class="tell-me-more wow fadeInUp" data-wow-delay="1.5s">
      Tell me more
    </a>
  </div>
</header>

<section class="wow slideInRight" data-wow-delay="0.2s">
  <h2>June 19, 2015</h2>
  <h3>Between <span class="negative">10:24am and 20:48pm</span>, all developers (including all students) will gather to work on <span class="negative">something new</span><br/>
  Learn cool, and maybe even usefull stuff!</h3>
</section>

<section id="ideas" class="inverse wow slideInUp" data-wow-delay="0.4s">
  <h2>Current Ideas</h2>
  <h4>in case you dont have your own, or need inspiration</h4>
  <ul>
    <li>Kick-ass-widget(s) for the dashboard</li>
    <li>Create an engineering-only dashboard</li>
    <li>Attach a camera to the dashboard and control it with gestures</li>
    <li style="text-decoration: line-through">Write an mobile app that randomizes a place where to go for lunch</li>
    <li>Write something that would analyse and cleanup the code (magic, unicorns or some other illegal shit, I dont know how)</li>
    <li>Create a siren/buzzer/lamp (attached to a wall on the corridor) that would turn red (or make some noise) when cruise control goes red</li>
    <li>Create a siren/buzzer/lamp (attached to a wall on the corridor) that would turn red (or make some noise) when the live system has more then x errors per minute</li>
    <li>Tinder for jobs. It would learn as you swipe, and give you jobs that match your "swipe-profile"</li>
    <li>Use a drone to deliver premium jobs :P (whatever that means)</li>
    <li>Native app in which the candidate can create a 30 second elevator pitch video to present themselves to recruiters @Wesley</li>
    <li style="text-decoration: line-through">A map with our jobs that allows the candidate to search based on geography (think of Airbnb search) = content discovery @Wesley</li>
    <li>A quiz that find the perfect job(s) for the candidate @Wesley</li>
    <li><del>Signup with Linkedin</del>@Wesley <b> Linkedin did a pretty brutal API shutdown earlier this year:</b> <a href="http://thenextweb.com/dd/2015/02/12/linkedin-takes-aim-developers-plans-lock-apis/">http://thenextweb.com/dd/2015/02/12/linkedin-takes-aim-developers-plans-lock-apis/</a></li>
    <li>CV parsing @Wesley</li>
    <li>Create a new platform with all our jobs (export our content) and make it accessible for free (we will make money through CPC) @Wesley</li>
    <li>Logging service with Logstash @Maikel</li>
    <li>Collect Rubinius GC data and analyze them using influxDB @Maikel</li>
    <li>Do sth with the Trello API, although I can't think of sth super-cool...maybe integrate it to our dashboard in some way or another @Maikel</li>
    <li>Cruise Breaker 2.0: mount a loudspeaker at the robot and scream the name of the guy that broke the last CI build - loud and nasty! @Thomas</li>
    <li>Recommend and predict: play around with some of these machine learning platforms (<a href="https://prediction.io">prediction.io</a>, <a href="http://aws.amazon.com/de/machine-learning/">AWS machine learning</a>, whatsoever) and build for example "Users that looked at this job also looked ..." @Thomas</li>
    <li>Build a clone of Google Snippets (principle explained here: <a href="http://blog.idonethis.com/google-snippets-internal-tool/">http://blog.idonethis.com/google-snippets-internal-tool/</a>) I guess it would tenfold increase transparency among us. @Thomas</li>
    <li>Do something fancy with <a href="espruino.com/Pico">espruino.com/Pico</a>. As mentioned I've got some boards + peripherals (display, relay, WIFI ...) and I'm willing to "donate" it for the Hackathon @Thomas</li>
  </ul>
</section>

<section id="teams">
  <h2>Teams</h2>
  <h4>TBD</h4>
  <ul>
    <li class="wow slideInLeft">
      <h3>red</h3>
      <img src="/avatars/mow.jpg" />
      <img src="http://gravatar.com/avatar/bcade31197a5623384d853c3c5fac28a?s=100" title="SriVishnu" />
      <img src="/avatars/roman.jpg" title="Roman" />
      <p>Build the alarm (siren or lamp) that notifies about too many errors on the live system (and/or broken specs)</p>
    </li>
    <li class="wow fadeInUp">
      <h3>green</h3>
      <img src="/avatars/maikel.png" title="Maikel" />
      <img src="/avatars/michael.png" title="Michael" />
      <img src="/avatars/nour.png" title="Nour" />
      <p>Recommend and predict: play around with some machine learning platforms</p>
    </li>
    <li class="wow slideInRight">
      <h3>blue</h3>
      <img src="/avatars/tom.jpg" title="Tom" />
      <img src="http://gravatar.com/avatar/9fbd1c79ce13abc142fe84692324e672" title="Bishwa" />
      <img src="/mock_avatar.png" />
      <p>Write an mobile app that randomizes a place where to go for lunch</p>
    </li>
    <li class="wow slideInLeft">
      <h3>alpha</h3>
      <img src="/avatars/paul.jpg" title="Paul" />
      <img src="/avatars/thomas.jpg" title="Thomas Nitsche" />
      <img src="/mock_avatar.png" />
      <p>Create a logging service with Logstash</p>
    </li>
    <li class="wow fadeInUp">
      <h3>asd</h3>
      <img src="/avatars/evgeni.jpg" title="Evgeni" />
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <p>A map with our jobs that allows the candidate to search based on geography (think of Airbnb search) = content discovery @Wesley</p>
    </li>
    <li class="wow slideInRight">
      <h3>gamma</h3>
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInLeft">
      <h3>delta</h3>
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow fadeInUp">
      <h3>zeta</h3>
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInRight">
      <h3>experteera</h3>
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <img src="/mock_avatar.png" />
      <p>A short description of what the team will do</p>
    </li>
  </ul>
  <div style="clear:both"></div>
</section>

<section id="rules" class="inverse">
  <h2>Rules of the game</h2>
  <ol>
    <li class="wow bounceInUp">
      <h5>Fresh Code</h5>
      We all start coding at the same time. Please don’t come in with even one line of code. It’s cool to work a little on designs beforehand, but try to keep things within the limits.
    </li>
    <li class="wow bounceInUp">
      <h5>Work in Teams</h5>
      We will work in teams of 3. You can also add 1 cyborg, Furby, drone, or Sphero. Mix with people you normally <strong>dont</strong> work with.
    </li>
    <li class="wow bounceInUp">
      <h5>Demo your work</h5>
      At the end of the Hackathon (20:48pm+), every team will have 3-5min to make a DEMO, and 3-5min for Q&A from the crowd.
    </li>
    <li class="wow bounceInUp">
      <h5>Win</h5>
      After all demos, everyone has 3 points to allocate to other teams. You can give 1 point to 3 teams. 3 points to one team. Or 2+1 :)
    </li>
  </ol>
</section>

<section>
  <h2>Preparations</h2>
  <ul>
    <li class="done">setup a hackathon page</li>
    <li>create teams quite some time in advance</li>
    <li>setup a gitlab repo for each team</li>
    <li>figure out rooms</li>
    <li>have a prize for the winning team</li>
    <li>get food for lunch</li>
    <li>get snacks for the evening</li>
    <li>get beer … lots of beer</li>
    <li>get good! beans for the coffee machine</li>
    <li>figure out voting (TBD: what to do in case of a draw?)</li>
  </ul>
</section>

<section id='not-in-team'>
  <h2>Not in Team yet.</h2>

  <ul>
    <li class='team'>
      <h3>
        Developers
      </h3>

      <ul>
        <li>Uli</li>
        <li>Taras</li>
        <li>Stefan</li>
      </ul>
    </li>

    <li class='team'>
      <h3>
        Student Developers
      </h3>

      <ul>
        <li>Yoana Dimova</li>
        <li>Shota Bakuradze</li>
        <li>Andreas Schmelz</li>
        <li>Bianka Roppelt</li>
        <li>Phillip Kramer</li>
        <li>Sajju Karki</li>
        <li>Daniel Suddman</li>
        <li>Dennis Herr</li>
        <li>Martin Bogner</li>
        <li>Christoph Winter</li>
      </ul>
    </li>
  </ul>
</section>

<section>
  <h2>Questions?, Ideas?</h2>
  <h4>ask Tom or call ghostbusters</h4>
</section>

</body>
</html>
