<!doctype html>
<html lang="en">
<head>
<!-- 

















C'MON!! You just had to see the source, didn't you!?
This code was written on one weekends evening, with lots of beer.
Nasty things are expected :P
Tom












-->
  <meta charset="utf-8">

  <title>Experteer Hackathon</title>
  <meta name="description" content="Experteer Hackathon">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts.js"></script>
</head>
<body>

<header>
  <div class="hero-background"></div>
  <div class="wow bounceIn" data-wow-delay="1s">
    <img class="hero-hipster" src="/hipsterlogo2.png" />
    <div class="hero-text">
      <h1>Hackathon</h1>
      <div>
        something very cool, very soon
        <hr/>
        thought you wanna know
      </div>
    </div>
  </div>
  <a href="#" class="tell-me-more wow fadeInUp" data-wow-delay="1.5s">
    Tell me more
  </a>
</header>

<section class="wow slideInRight" data-wow-delay="0.2s">
  <h2>Some Friday in June</h2>
  <h3>Between <span class="negative">10:24am and 20:48pm</span>, all developers (including all students) will gather to create <span class="negative">something new</span> , random, cool, and maybe even usefull!</h3>
</section>

<section id="ideas" class="inverse wow slideInUp" data-wow-delay="0.4s">
  <h2>Current Ideas</h2>
  <h4>in case you dont have your own, or need inspiration</h4>
  <ul>
    <li>kick-ass-widget(s) for the dashboard</li>
    <li>attach a camera to the dashboard and control it with gestures</li>
    <li>write an mobile app that randomizes a place where to go for lunch</li>
    <li>write something that would analize and cleanup the code (magic, unicorns or some other illegal shit, I dont know how)</li>
    <li>dockerize the whole app</li>
    <li>create a siren/buzzer/lamp (attached to a wall on the corridor) that would turn red (or make some noise) when cruise control goes red</li>
    <li>write a mobile “hot or not” for jobs, that learns, and after 10-50 swipes, tells you the criteria that you were looking for (or gives you jobs)</li>
    <li>implement wesleys elevator pitch thingy</li>
  </ul>
</section>

<section id="teams">
  <h2>Teams</h2>
  <h4>TBD</h4>
  <ul>
    <li class="wow slideInLeft">
      <h3>red</h3>
      <img src="/mock_avatars/1.jpg" />
      <img src="/mock_avatars/2.jpg" />
      <img src="/mock_avatars/3.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow fadeInUp">
      <h3>green</h3>
      <img src="/mock_avatars/4.jpg" />
      <img src="/mock_avatars/5.jpg" />
      <img src="/mock_avatars/6.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInRight">
      <h3>blue</h3>
      <img src="/mock_avatars/7.jpg" />
      <img src="/mock_avatars/8.jpg" />
      <img src="/mock_avatars/9.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInLeft">
      <h3>alpha</h3>
      <img src="/mock_avatars/10.jpg" />
      <img src="/mock_avatars/11.jpg" />
      <img src="/mock_avatars/12.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow fadeInUp">
      <h3>beta</h3>
      <img src="/mock_avatars/13.jpg" />
      <img src="/mock_avatars/14.jpg" />
      <img src="/mock_avatars/15.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInRight">
      <h3>gamma</h3>
      <img src="/mock_avatars/16.jpg" />
      <img src="/mock_avatars/17.jpg" />
      <img src="/mock_avatars/18.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInLeft">
      <h3>delta</h3>
      <img src="/mock_avatars/19.jpg" />
      <img src="/mock_avatars/20.jpg" />
      <img src="/mock_avatars/21.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow fadeInUp">
      <h3>zeta</h3>
      <img src="/mock_avatars/22.jpg" />
      <img src="/mock_avatars/23.jpg" />
      <img src="/mock_avatars/24.jpg" />
      <p>A short description of what the team will do</p>
    </li>
    <li class="wow slideInRight">
      <h3>experteera</h3>
      <img src="/mock_avatars/25.jpg" />
      <img src="/mock_avatars/26.jpg" />
      <img src="/mock_avatars/27.jpg" />
      <p>A short description of what the team will do</p>
    </li>
  </ul>
  <div style="clear:both"></div>
</section>

<section id="rules" class="inverse">
  <h2>Rules of the game</h2>
  <ol>
    <li class="wow bounceInUp">
      <h5>Fresh Code</h5>
      We all start coding at the same time. Please don’t come in with even one line of code. It’s cool to work a little on designs beforehand, digital mockups, open source frameworks, and anything else available to everyone, but try to keep things within just limits.
    </li>
    <li class="wow bounceInUp">
      <h5>Work in Teams</h5>
      Teams of up to 3(-5?) humans are allowed. You can also add 1 cyborg, Furby, drone, or Sphero. Mix with people you normally dont work with.
    </li>
    <li class="wow bounceInUp">
      <h5>Demo your work</h5>
      At the end of the Hackathon (20:48pm+), every team will have 3-5min to make a DEMO, and 3-5min for Q&A from the crowd.
    </li>
    <li class="wow bounceInUp">
      <h5>Win</h5>
      After all demos, everyone has 3 points to allocate to other teams. You can give 1 point to 3 teams. 3 points to one team. Or 2+1 :)
      (TBD: what to do in case of a draw???)
    </li>
  </ol>
</section>

<section>
  <h2>Preparations</h2>
  <ul>
    <li class="done">setup a hackathon page</li>
    <li>create teams quite some time in advance</li>
    <li>setup a gitlab repo for each team</li>
    <li>figure out rooms</li>
    <li>have a prize for the winning team</li>
    <li>get food for lunch</li>
    <li>get snacks for the evening</li>
    <li>get beer … lots of beer</li>
    <li>get good! beans for the coffee machine</li>
  </ul>
</section>

<section>
  <h2>Questions?, Ideas?</h2>
  <h4>ask Tom or call ghostbusters</h4>
</section>

</body>
</html>