html, body {
  font-family: 'lato';
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 1.25em;
}

section {
  width: 960px;
  margin: 0 auto;
  padding: 50px 100px 100px 100px
}

section.inverse {
  color: #FFF;
}

h2, h3, h4 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 3em;
  line-height: 3.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h4 {
  opacity: 0.7;
  /*font-style: italic;*/
  font-weight: 100;
}

h2 + h4 {
  margin-top: -3em;
  margin-bottom: 3em;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
}

ol {
  counter-reset: li;
  list-style: none;
}

ol li {
  min-height: 7em; /* so the counters look right */
}

ol li:before {
  content: counter(li);
  counter-increment: li;
  float: left;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  margin-right: 1em;
  font-size: 1.5em;
  border: 1px solid #000;
  border-radius: 100px;
}

section.inverse ol li:before {
  border-color: #FFF;
}

ul li {
  padding: 10px 50px 10px 50px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgba(0,0,0,0.3);
}

ul li.done {
  background: transparent url('Green_check.png') no-repeat scroll 15px 5px;
}

section.inverse ul li {
  border-bottom-color: rgba(255,255,255,0.3);
}

span.negative {
  color: #FFF;
  background: #000;
  padding: 0 5px;
  margin: 0 -5px;
}

header {
  height: 101vh; /* 101% view port heights */
  overflow: hidden;
  position: relative;
}

header .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/7.jpg') no-repeat scroll center center;
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -20px;
/*
  SOME INSTAGRAM FILTERS FUN

  -webkit-filter: blur(5px) sepia(0.5) contrast(1.4);
  filter: blur(5px) sepia(0.5) contrast(1.4);

  -webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8) blur(5px);
  filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8) blur(5px);

  filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1) blur(5px);
  -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1) blur(5px);

  -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg) blur(5px);
  filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg) blur(5px);

  -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
  filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
*/
}

header .hero-text {
  position: absolute;
  top: 160px;
  left: 50%;
  width: 240px;
  margin-left: -120px;
    text-transform: uppercase;
    text-align: center;
}

header .hero-text h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 2.5em;
  color: #333;
}

header .hero-text div {
  margin: 1em auto;
  width: 60%;
  color: #FFF;
}

header .hero-text hr {

}

header .hero-hipster {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -300px;
}

header .tell-me-more {
  position: absolute;
  top: 530px;
  left: 50%;
  width: 200px;
  margin-left: -130px;
  padding: 20px 30px;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

section#ideas {
  background: #4eb980;
}


section#teams li {
  width: 220px;
  padding: 35px;
  margin: 13px;
  height: 200px;
  float: left;
  border: 1px dashed #DDD;
  background: #fcfcfc;
  text-align: center;
}

section#teams img {
  width: 50px;
  padding: 10px;
  border-radius: 100px;
}

section#teams p {
  font-size: 1em;
}


section#rules {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/3.jpg') no-repeat scroll center center;
}